*{
    margin: 0;
    padding: 0;
}
.roles{
    display: grid;
    /* grid-template-columns: 50% 50%; */
    background: rgba(144, 216, 216, 0.7);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}
h2{
    align-items: center;
    text-align: center;
    margin-top: 10px;
    color: black;
    background: #1f2833;
    color: snow;}

.introduction p{
   color: black;
   font-size: 20px;
   font-family: fantasy;
   margin-left: 20px;
}
.admin-roles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 10px;
    margin-top: 30px;
    background: rgba(5, 247, 247, 0.7);
}
.admin-roles ul li{
    font-size: 20px;
    font-family: fantasy;
    margin-left: 20px;
}
.messages{
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
}
.princi{
    display: grid;
    grid-template-columns: 40% 60%;
}

.princi img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: dashed 2px;
    margin-top: -10px;
}
.princi-msg{
    margin-left: -300px;
    background: rgba(91, 97, 97, 0.7);
}

.depa{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 40% 60%;
}
.depa img{
    width: 200px;
    height: 200px;
    border: dashed 2px;
    border-radius: 50%;
}  
.depa-msg{
    margin-left: -300px;
    background: rgba(91, 97, 97, 0.7);
} 
.admin-pictures h3{
    text-align: center;
    align-items: center;
    background:#1f2833;
    color: snow;
    margin-top: 30px;
}
.admin-pictures img{
    width: 300px;
    height: 300px;
    margin-left: 20px;
    /* margin-right: 20px; */
    margin-top: 40px;
}

.admin-pictures img:hover{
    transition: 1s;
    transform: scale(0.5);

}