h2{
    background: rgba(45, 49, 49, 0.7);
    text-align: center;
    color: snow;
    align-items: center;
}
.games{
    background: rgba(68, 187, 196, 0.9)
}
.games p{
    font-size: 20px;
    font-family: cursive;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.list{
    font-size: 20px;
    font-family: cursive;
}
.captain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
}

.captain img{
    border: dashed;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.msg p{
    margin-left: -400px;
    font-size: 20px;
    font-family: cursive;
    background: #45A29e;
    padding: 20px;
}

.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    background: #1f2833;
}
.gallery img{
    width: 300px;
    height: 200px;
}

figcaption{
    font-size: 20px;
    font-family: cursive;
    padding-bottom: 10px;
    color: snow;
}
.gallery img:hover{
    transform: scale(1.2);
    transition: 1s;
}

.clubs{
    background: #c5c6c7;
   font-size: 20px;
   font-family: cursive;
   padding: 20px;
}

.debate{
    background: rgba(39, 68, 68, 0.7);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.debate img{
    width: 300px;
    height: 300px;
    padding-top: 50px;
}